body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	color: #333333;
	margin: 0;
	padding: 0;
}
#header {
	background-color: #ffffff;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#header h1 {
	margin: 0;
	font-size: 36px;
	color: #333333;
}
#content {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
h2 {
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #333333;
}
p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}
a {
	color: #00f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 40px;
}
.button:hover {
	background-color: #3e8e41;
}